<span class="fs-jss-17 mt-2 cursor-pointer-jsc" [matMenuTriggerFor]="menu"><mat-icon class="pr-2 text-white" style="display:inline-flex;vertical-align: middle;">person</mat-icon></span>


<mat-menu #menu="matMenu">
    <button mat-menu-item>
        <mat-icon>account_box</mat-icon>
        <span>My Information</span>
    </button>
    <button mat-menu-item>
        <mat-icon>vpn_key</mat-icon>
        <span>Change Password</span>
    </button>
    <button mat-menu-item id="Logout">
        <mat-icon>backspace</mat-icon>
        <span>Logout</span>
    </button>
</mat-menu>

<mat-menu #matNotification="matMenu">
    <button mat-menu-item>
        <mat-icon>account_box</mat-icon>
        <span>Customer submit a score Sept 20 2019</span>
    </button>
    <button mat-menu-item>
        <mat-icon>account_box</mat-icon>
        <span>Customer update a score Sept 20 2019</span>
    </button>
    <button mat-menu-item>
        <mat-icon>account_box</mat-icon>
        <span>User added new metric Sept 20 2019</span>
    </button>
    <button mat-menu-item>
        <mat-icon>account_box</mat-icon>
        <span>User added new metric Sept 20 2019</span>
    </button>
    <button mat-menu-item>
        <mat-icon>account_box</mat-icon>
        <span>User added new metric Sept 20 2019</span>
    </button>
</mat-menu>