<div class="pt-3 pb-3">
    <div fxLayout="row">
        <span class="segoe-ui-font fs-sct-16 mr-4 mt-2">Do you really want to proceed with the operation ?</span>
        <div fxLayoutAlign="end">
            <button mat-mini-fab class="ml-4 mr-4 bottom-sheet-button grey" (click)="closeBottomSheetNo()">
                <mat-icon class="bottom-sheet-icon">close</mat-icon>
            </button>
            <button mat-mini-fab color="primary" class="ml-2 bottom-sheet-button" (click)="closeBottomSheetYes()" >
                <mat-icon class="bottom-sheet-icon">done</mat-icon>
            </button>
        </div>
    </div>
</div>